* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 100vh;
}

/* notes: default display flex is row */

nav.tab-button-container {
    flex: 0 0 40px;
    display: flex;
    flex-direction: row;
}

.tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgb(221, 221, 221);
    border: 0.1px solid rgba(140, 140, 140, 0.1);
}

.tab-button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.tab-container {
    flex: 1;
    position: relative;
}

.tab {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab-btn-default, .tab-default {
    background-color: rgb(255, 255, 255);   
    border-bottom: none; 
}

.length-tab {
    z-index: 100;
}

.weight-tab {
    z-index: 10;
}

.temperature-tab {
    z-index: 1;
}

form {
    width: 80vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

/* .form-row-strip-label {
    flex: 0 0 30px;
    padding-left: 5px;
    text-transform: uppercase;
} */

.form-row-strip-input {
    flex: 1;
    display: flex;
    gap: 5px;
}

.form-row-strip-input input {
    width: 70%;
    height: 100%;
    padding-left: 10px;
    padding-right: 5px;
    line-height: 10px;
    font-size: 20px;
    letter-spacing: 0.5px;
    border-radius: 3px;
}

.form-row-strip-input select {
    width: 30%;
    height: 100%;
    text-align: center;
    border-radius: 3px;
}

.form-row-strip-btn {
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row-strip-btn svg {
    width: 10%;
    height: 50%;
}

.form-row-strip-btn svg:hover {
    cursor: pointer;
}

/* untuk temp border */
.tab * {
    /* border: 1px dotted red; */
}