.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-background-color);
    gap: 10px;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: rgb(198, 198, 198);
}

.login-btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: lowercase;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

.login-btn:hover {
    cursor: pointer;
}

.articles {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem 2rem;
    gap: 15px;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: rgba(180, 117, 117, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.article:hover {
    background-color: rgba(180, 117, 117, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

* {
    border: 0px dotted red;
}